<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <!-- switch to dynamic css -->
        {% load static %}
            <link rel="stylesheet" href="{% static 'webgen/Supernice.css' %}">
    </head>

    <body>
        {% autoescape off %}

            <div class="row">
                {% for i in content %}
                    <div class="span2">
                        {{ i }}
                    </div>
                {% if forloop.counter|divisibleby:"6" or forloop.last %}
                    </div> <!--end row-->
                {% endif %}
            {% endfor %}

            <!-- Possible .js scripts -->

        {% endautoescape %}
    </body>

</html>
